Source: gooroom-grub
Section: admin
Priority: optional
Maintainer: gooroom <gooroom@gooroom.kr>
Build-Depends: debhelper (>= 10~),
 patchutils,
 dh-autoreconf,
 automake,
 python,
 flex,
 bison,
 po-debconf,
 help2man,
 texinfo,
 gcc-8,
 gcc-8-multilib [i386 kopensolaris-i386 any-amd64 any-ppc64 any-sparc],
 xfonts-unifont,
 libfreetype6-dev,
 gettext,
 libdevmapper-dev [linux-any],
 libgeom-dev (>= 8.2+ds1-1~) [kfreebsd-any] | libgeom-dev (<< 8.2) [kfreebsd-any],
 libsdl1.2-dev [!hurd-any],
 xorriso,
 qemu-system [i386 kfreebsd-i386 kopensolaris-i386 any-amd64],
 cpio [i386 kopensolaris-i386 amd64 x32],
 parted [!hurd-any],
 libfuse-dev (>= 2.8.4-1.4) [linux-any kfreebsd-any],
 ttf-dejavu-core,
 liblzma-dev,
 dosfstools [any-i386 any-amd64 any-arm64],
 mtools [any-i386 any-amd64 any-arm64],
 wamerican,
 libparted-dev [any-powerpc any-ppc64 any-ppc64el],
 pkg-config,
 bash-completion,
Build-Conflicts: autoconf2.13, libzfs-dev, libnvpair-dev
Standards-Version: 3.9.6
Homepage: http://www.gooroom.kr
Vcs-Git: https://git.gooroom.kr/gooroom-grub
Vcs-Browser: https://git.gooroom.kr/gooroom-grub

Package: gooroom-grub-common
Priority: optional
Architecture: any-amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, gettext-base, ${lsb-base-depends}
Replaces: grub-common, grub-pc (<< 2.00-4), grub-ieee1275 (<< 2.00-4), grub-efi (<< 1.99-1), grub-coreboot (<< 2.00-4), grub-linuxbios (<< 1.96+20080831-1), grub-efi-ia32 (<< 2.00-4), grub-efi-amd64 (<< 2.00-4), grub-efi-ia64 (<< 2.00-4), grub-yeeloong (<< 2.00-4)
Suggests: multiboot-doc, grub-emu [any-i386 any-amd64 any-powerpc], xorriso (>= 0.5.6.pl00), desktop-base (>= 4.0.6), console-setup
Conflicts: init-select
# mdadm: See bugs #435983 and #455746
Breaks: mdadm (<< 2.6.7-2), lupin-support (<< 0.55), friendly-recovery (<< 0.2.13), apport (<< 2.1.1)
Description: Gooroom GRand Unified Bootloader (common files)
 This package contains common files shared by the distinct flavours of Gooroom GRUB.
 It is shared between GRUB Legacy and GRUB 2, although a number of files
 specific to GRUB 2 are here as long as they do not break GRUB Legacy.

Package: gooroom-grub2-common
Priority: optional
# Not Architecture: any because this package contains some things which are
# only built when there is a real platform (e.g. grub-install), and the rest
# of the package is not very useful in a utilities-only build.
Architecture: any-amd64
Depends: gooroom-grub-common, dpkg (>= 1.15.4) | install-info, ${shlibs:Depends}, ${misc:Depends}
Replaces: grub, grub-legacy, ${legacy-doc-br}, grub2-common, grub-pc (<< 2.00-4), grub-ieee1275 (<< 2.00-4), grub-efi (<< 1.99-1), grub-coreboot (<< 2.00-4), grub-linuxbios (<< 1.99-1), grub-efi-ia32 (<< 2.00-4), grub-efi-amd64 (<< 2.00-4), grub-efi-ia64 (<< 2.00-4), grub-yeeloong (<< 2.00-4)
Conflicts: grub-legacy, grub2-common
Description: Gooroom GRand Unified Bootloader (common files for version 2)
 This package contains common files shared by the distinct flavours of Gooroom GRUB.
 The files in this package are specific to GRUB 2, and would break GRUB
 Legacy if installed on the same system.

Package: gooroom-grub-efi-amd64-bin
Architecture: any-amd64
Depends: gooroom-grub-common, efibootmgr [linux-any]
Replaces: grub-efi-amd64-bin
Conflicts: grub-efi-amd64-bin
Description: Gooroom GRand Unified Bootloader, version 2 (EFI-AMD64 binaries)
 Gooroom GRUB is a portable, powerful bootloader.  This version of GRUB is based on a
 cleaner design than its predecessors, and provides the following new features:
 .
  - Scripting in grub.cfg using BASH-like syntax.
  - Support for modern partition maps such as GPT.
  - Modular generation of grub.cfg via update-grub.  Packages providing GRUB
    add-ons can plug in their own script rules and trigger updates by invoking
    update-grub.
 .
 This package contains a version of Gooroom GRUB that has been built for use with
 EFI-AMD64 architecture, such as the one provided by Intel Macs (that is, unless
 a BIOS interface has been activated).  It will not automatically install
 GRUB as the active boot loader, nor will it automatically update grub.cfg
 on upgrade, so most people should install grub-efi-amd64 instead.

Package: gooroom-grub-efi-amd64-dbg
Section: debug
Architecture: any-amd64
Description: Gooroom GRand Unified Bootloader, version 2 (EFI-AMD64 debug files)
 This package contains debugging files for gooroom-grub-efi-amd64-bin. You only
 need these if you are trying to debug GRUB using its GDB stub.

Package: gooroom-grub-efi-amd64
Architecture: any-amd64
Depends: gooroom-grub2-common (= ${binary:Version}), gooroom-grub-efi-amd64-bin (= ${binary:Version})
Replaces: grub-efi-amd64
Conflicts: grub-efi-amd64
Description: Gooroom GRand Unified Bootloader, version 2 (EFI-AMD64 version)
 Gooroom GRUB is a portable, powerful bootloader.  This version of GRUB is based on a
 cleaner design than its predecessors, and provides the following new features:
 .
  - Scripting in grub.cfg using BASH-like syntax.
  - Support for modern partition maps such as GPT.
  - Modular generation of grub.cfg via update-grub.  Packages providing GRUB
    add-ons can plug in their own script rules and trigger updates by invoking
    update-grub.
 .
 This package contains a version of Gooroom GRUB that has been built for use with
 EFI-AMD64 architecture, such as the one provided by Intel Macs (that is, unless
 a BIOS interface has been activated).
